#body{
    background-image: 
    linear-gradient(to right bottom, rgba(182, 212, 195, 0.8) , rgba(23, 61, 18, 0.7)),
    url('https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Grass-Grounds-Coverings-PNG-Clipart/Mountain_PNG_Clip_Art_Image.png?m=1530892069');
    background-size: cover;
}
#header{
    font-family: 'Bangers', cursive;
    font-size: 80px;
    text-align: center;
    color: rgb(17, 17, 17);
    /* border: solid black; */


}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
#column-one{
    width: 30%;
    height:800px;
    /* border: solid black; */
    justify-content: space-evenly;

}
.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(219, 215, 215);
    box-shadow: 0 0 20px rgb(56, 55, 55);
    border-radius: 20px;
    font-weight: bolder;
   }
.btn:hover {
    background-position: right center; /* change the direction of the change here */
  }

.start{
    background-image: linear-gradient(to right, #39473e 0%, #8fd3f4 51%, #39473e 100%);
    font-size: larger;
}
.info{
    background-image: linear-gradient(to right, #39473e 0%, #8fd3f4 51%, #39473e 100%);
}
#start{
    height: 25%;
    width:100%;
    
    /* border: solid black; */
    text-align: center;
}

#info{
    height: 25%;
    width: 100%;
    text-align: center;
    /* border: solid black; */
}

#score{
    height: 50%;
    width:100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(49, 4, 49, 0.932);
    font-size: larger;
    /* border: solid black; */
}

#column-two{
    width:70%;
    height: 800px;
    /* border: solid black; */
   
    
}
#mountain{
    width: 90%;
    height:700px;
    /* border: solid black; */
    background-image: url('kindpng_2149026.png') ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom;
}